/* For main actions: Save, Export, etc. */
.primary {
    background-color: var(--accent-color);
    padding: var(--padding-small) var(--padding-medium);
    border: none;
    border-radius: 0.375rem;
    color: var(--background);
    font-size: var(--body-text);
    font-weight: var(--body-weight);
}

.primary:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.primary:active {
    filter: brightness(90%);
}

.primary:focus {
    outline: 2px solid black;
}

/* For neutral things such as Reset, Cancel, etc. */
.secondary {
    background-color: var(--background);
    padding: var(--padding-small) var(--padding-medium);
    border: solid 2px var(--border);
    border-radius: 0.375rem;
    color: var(--primary-text);
    font-size: var(--body-text);
    font-weight: var(--body-weight);
}

.secondary:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.secondary:active {
    filter: brightness(90%);
}

.secondary:focus {
    outline: 2px solid var(--primary-text);
}

/* For inline actions such as "+ Add Education */
.link {
    background: none;
    border: none;
    color: var(--accent-color);
    font-size: var(--small-text);
    font-weight: var(--body-weight);
}

.link:hover {
    color: var(--accent-hover);
    cursor: pointer;
    text-decoration: underline;
}

.link:active {
    filter: brightness(90%);
}

.link:focus {
    outline: 1px solid var(--accent-color);
    text-decoration: underline;
}

/* For icons */
.icon {
    width: 32px;
    height: 32px;
    border: none;
}

.icon:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.icon:focus {
    outline: 1px solid var(--primary-text);
}