.section-container {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    gap: var(--margin-small);
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.preview-data {
    display: flex;
    gap: var(--margin-small);
    justify-content: space-between;
}

#field-name {
    font-weight: var(--heading-weight);
}